<!DOCTYPE html>
<html>
<head>
    
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/bundles/customJS")

</body>
</html>
