<!DOCTYPE html>
<html>
<head>
    
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
